:root {
  --color-red: #d33f49;
  --color-pink: #d7c0d0;
  --color-beige: #eff0d1;
  --color-green: #77ba99;
  --color-black: #262730;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background: eff0d1;
}

button {
  min-width: 90px;
  height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 25px;
  background: var(--color-green);
  color: var(--color-beige);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.delete-btn {
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: var(--color-red);
  color: var(--color-beige);
  text-align: center;
  line-height: 23px;
  cursor: pointer;
}